<!DOCTYPE html>
<html ng-app="restaurant">
<head>
  <title>Best Restaurants</title>
  <script src="../lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/RestaurantController.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../css/bootstrap-paper.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="container" ng-controller="RestaurantsCtrl">

    <div class="col-md-12" ng-show="restaurants.length">
      <h4>Search restaurants</h4>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input ng-model="query" type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h2>Add a restaurant</h2>
      <form ng-submit="addRestaurant()" role="form">
        <div class="form-group">
          <input type="text" ng-model="restaurantName" class="form-control" placeholder="Name">
          <input type="text" ng-model="restaurantCuisine" class="form-control" placeholder="Cuisine">

          <select class="form-control" ng-model="restaurantPrice">
            <option value="" selected="selected">Select Price</option>
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
            <option value="$$$$">$$$$</option>
          </select>

          <input type="text" ng-model="restaurantRating" class="form-control" placeholder="Rating">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>

    <div class="col-md-12">
      <h2 ng-show="restaurants.length && filtered.length">Restaurant List</h2>
      <h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
      <ul>
        <li ng-repeat="item in filtered = (restaurants | filter:query)">
          <span ng-click="editing = true" ng-hide="editing">
            {{item.name}} - {{item.cuisine}} - {{item.price}} - {{item.rating}}
            <a ng-click="deleteRestaurant(item)">[x]</a>
          </span>
          <span class="form-group" ng-show="editing" ng-submit="editing = false; reRateRestaurant(item, newRating)">
            <form class="form" role="form">
              <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="{{item.name}}" autofocus>
              <input type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="{{item.cuisine}}">

              <select class="form-control select-sm" ng-model="item.price">
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
              </select>

              <input type="text" class="form-control input-sm" ng-model="newRating" placeholder="{{item.rating}}">
              <button class="btn btn-default btn.sm" type="submit">Save</button>
            </form>
          </span>
        </li>
      </ul>
    </div>



  </div>
</body>
</html>
